/*
font-family: 'Raleway', sans-serif;
font-family: 'Inter', sans-serif;
*/
html {
    font-size: 62.5%;
    /*10px*/
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del header*/

#header {
    background: #30343F;
    height: 14.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
}


nav {
    display: flex;
    margin: 0rem 11rem;
}

button#menu-hamburguesa {
    display: none;
}

.cerrar-menu {
    display: none;
}

.a-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    color: #FFFFFF;
    text-decoration: none;
    margin: 2rem;
    transition: all 0.2s ease;
}

.a-list:last-child {
    margin-right: 0;
}

ul li a:hover {
    color: #FF3333;

}


.banner-nav {
    width: 37rem;
    height: 6.5rem;
    margin: 11rem;
}

/*Estilos del hero de la pag principal*/

.hero {
    display: flex;
    align-items: center;
}

.hero-background {
    width: 100%;
    height: 38rem;
    background-image: url('/img/multimedia/funkos-banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px) brightness(0.6);
    display: flex;
}

.hero-text {
    position: absolute;
    color: #FFFFFF;
    margin-left: 11rem;

}

.hero-p {
    font-family: Raleway;
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 4.8rem;

}

.hero-title {
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.hero-button {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 12px 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #111111;
    transition: all 0.2s ease;
}

.hero-button:hover {
    background: #FF3333;
    color: #FFFFFF;

}


/*Estilos del funko 1*/

.section-pri {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funko1 {
    display: flex;
    align-items: center;
    margin: 0 61.5px;
}

.funko1 img {
    color: transparent;
}

.funko1 h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #111111;
}

.funko1 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: #4F4F4F;
}

.funko1 hr {
    width: 620px;
    height: 0px;
    margin: 28px 0 52px;
    border: 2px solid #FF3333;
}

.funko1 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #30343F;
    border-radius: 50px;
    padding: 18px 48px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.2s ease;
}

.funko1 a:hover {
    background-color: #111111;

}

/*Estilos del funko 2*/

.funko2 {
    display: flex;
    align-items: center;
    margin: 0 61.5px;

}

.funko2 img {
    width: 600px;
}

.funko2 h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #111111;
}

.funko2 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
    color: #333333;

}

.funko2 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #30343F;
    border-radius: 50px;
    padding: 18px 48px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.2s ease;
}

.funko2 a:hover {
    background-color: #111111;

}

.funko2 hr {
    width: 620px;
    height: 0px;
    margin: 28px 0 52px;
    border: 2px solid #FF3333;
}

/*Estilos del funko 3*/

.funko3 {
    display: flex;
    align-items: center;
    margin: 0 61.5px;
}

.funko3 img {
    color: transparent;
}

.funko3 h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #111111;
}

.funko3 p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: #4F4F4F;
}

.funko3 hr {
    width: 620px;
    height: 0px;
    margin: 28px 0 52px;
    border: 2px solid #FF3333;
}

.funko3 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #30343F;
    border-radius: 50px;
    padding: 18px 48px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.2s ease;
}

.funko3 a:hover {
    background-color: #111111;

}

/*Estilos carrousel*/

.section-sec {
    margin: 0 61.5px;
    margin-bottom: 68px;
}

figure {
    position: relative;
}

.new-text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #FF3333;
    padding: 7px 22.5px;
    display: block;
    align-items: center;
    position: absolute;
    right: 0;
}

.section-sec h2 {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 5rem;
}

.lista-carrusel {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.lista-carrusel li img {
    width: 100%;
}

.producto {
    transition: all 0.5s ease;
}

.producto:hover {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.58);

}

.producto a {
    text-decoration: none;
}

.categoria {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.nombre-funko {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}

.precio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.cuotas {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1D84B5;
    padding-bottom: 1rem;
}

.lista-carrusel li {
    margin-right: 71px;
}

.info-producto p,
h4 {
    margin: 14px;
}

/*Estilos del footer*/

#footer {
    background: #30343F;
    padding: 3.1rem;
    width: 100%;
}

.footer ul {
    margin: 110px 50px;
    list-style: none;
}

.footer ul li {
    padding: 5px;
}

.footer img {
    margin: 110px;
}

.footer p {
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*ESTILOS PAGINA SHOP*/

/*Estilos del Form, Aside*/
.aside-shop {
    display: flex;
    margin: 6.2rem;
    margin-right: 0;
}

button#filtros {
    display: none;
}

.cerrar-form{
    display: none;
}

.form-shop {
    display: flex;
    flex-direction: column;
}

.input-buscar {
    margin: 1rem 0 2rem;
    padding: 1rem;
    width: 18rem;
    height: 3rem;
    border: 2px solid #30343F;
    border-radius: 6px;
}

.select-ordenar {
    margin: 1rem 0 2rem;
    padding-left: 0.7rem;
    width: 18rem;
    height: 3rem;
    border: 2px solid #30343F;
    border-radius: 6px;
}

.select-ordenar .options {
    color: gray
}

.form-shop label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-shop p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #111111;
}

.form-checkbox-shop {
    margin: 1.6rem 0 0 1rem;
}

.p-form-checkbox-shop {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    margin-left: 0.5rem;
}

.label-precio {
    display: flex;
    margin: 1rem 0 2rem;
}

.label-precio p {
    margin: 0 0.5rem;
}

.label-precio input {
    width: 4rem;
    display: flex;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ul-list-form-checkbox-shop {
    /*ul*/
    list-style: none;
    display: flex;
    flex-direction: column;
    float: left;
}

.list-form-checkbox-shop {
    /*li*/
    display: flex;
}


/*Estilos del main de la página SHOP, Grid*/
#main-shop {
    display: flex;
}

.funkos-container {
    display: flex;
    margin: 6.2rem;
    margin-left: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    grid-auto-columns: 130px;
}

.grid-item {
    transition: all 0.5s ease;
}

.grid-item:hover {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.58);
}

.grid-item figure {
    width: 335px;
    height: 335px;
}

.grid-item img {
    width: 335px;
    height: 335px;
}

.grid-item a {
    text-decoration: none;
}

.categoria {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.nombre-funko {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}

.precio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.cuotas {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1D84B5;
}



/*ESTILOS PAGINA ITEM*/

/*Estilos del main*/

.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6.8rem 0;
}

.item-container img {
    width: 50rem;
    height: 50rem;
}

.info-item-container {
    /* margin: 0 11rem 0 6.5rem; */
    width: 58rem;
}

.info-item-container .categoria {
    font-size: 16px;
}

.info-item-container .nombre-funko {
    font-size: 38px;
    margin: 2rem 0;
}

.info-item-container .description-item {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.info-item-container .precio {
    font-size: 38px;
    margin: 2rem 0 2.8rem;
}

.info-item-container #menos,
#mas {
    width: 3.9rem;
    height: 3.9rem;
    background: #4F4F4F;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}

.info-item-container input[type=number] {

    box-sizing: border-box;
    width: 3.9rem;
    height: 3.3rem;
    background: #FFFFFF;
    border: 0.5px solid #C9C9C9;
    text-align: center;
    box-shadow: none;
    margin: 0 1.3rem;
    font-size: 20px;
}

.info-item-container .add-cart {
    width: 18.1rem;
    height: 3.8rem;
    background: #FF3333;
    color: #FFFFFF;
    border: none;
    margin: 0 2.1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.info-item-container .cuotas {
    font-size: 14px;
    margin: 2.7rem 0 0;
}

.info-item-container .metodos {

    color: #1D84B5;


}

/*Extra small devices (phones, 767px and down*/
@media only screen and (max-width: 767px) {

    /*Header*/
    #header {
        height: 14.4rem;
    }

    .header-list {
        display: none;
    }

    .banner-nav {
        width: 18.5rem;
        height: 6.5rem;
        margin: 2.5rem;
    }

    nav {
        margin: 0 9vw 0 0;
    }

    button#menu-hamburguesa {
        display: block;
        background: transparent;
        border: none;
    }

    .mostrar-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }

    .cerrar-menu button{
        background: transparent;
        border: none;
    }

    /*Estilos del hero de la pag principal*/

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-background {
        width: 100%;
        height: 30rem;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .hero-p {
        font-size: 1.4rem;
        line-height: 1rem;
        letter-spacing: 0em;
        margin-top: 0.3rem;
        margin-bottom: 2.4rem;
        text-align: center;

    }

    .hero-title {
        font-size: 2.9rem;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0em;
        margin: 0;
    }

    .hero-button {
        border-radius: 50px;
        padding: 1.2rem 7.8rem;
        font-size: 2rem;
        line-height: 1.2rem;
    }



    /*Estilos del funko 1*/

    .funko1 {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0 4rem;
        flex-direction: column-reverse;
    }

    .funko1-divtext {
        width: 100%;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .funko1 img {
        width: 30rem;
    }


    .funko1 h2 {
        font-size: 3.3rem;
        line-height: 2.7rem;
        margin-bottom: 0.6rem;
        text-align: center;
    }

    .funko1 p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin: 0 5vw;
        text-align: center;
    }

    .funko1 hr {
        width: 80vw;
        height: 0px;
        margin: 1.4rem 0 2.6rem;
    }

    .funko1 a {
        font-size: 1.2rem;
        line-height: 1.5rem;
        border-radius: 50px;
        padding: 0.9rem 2.4rem;

    }




    /*Estilos del funko 2*/

    .funko2 {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0 4rem;
        flex-direction: column;
    }

    .funko2-divtext {
        width: 100%;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .funko2 img {
        width: 30rem;
    }


    .funko2 h2 {
        font-size: 3.3rem;
        line-height: 2.7rem;
        margin-bottom: 0.6rem;
        display: flex;
        text-align: center;
    }

    .funko2 p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin: 0 5vw;
        text-align: center;
    }

    .funko2 hr {
        width: 80vw;
        height: 0px;
        margin: 1.4rem 0 2.6rem;
    }

    .funko2 a {
        font-size: 1.2rem;
        line-height: 1.5rem;
        border-radius: 50px;
        padding: 0.9rem 2.4rem;
    }




    /*Estilos del funko 3*/

    .funko3 {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0 4rem;
        flex-direction: column-reverse;
    }

    .funko3-divtext {
        width: 100%;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .funko3 img {
        width: 30rem;
    }


    .funko3 h2 {
        font-size: 3.3rem;
        line-height: 2.7rem;
        margin-bottom: 0.6rem;
        display: flex;
        text-align: center;
    }

    .funko3 p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin: 0 5vw;
        text-align: center;
    }

    .funko3 hr {
        width: 80vw;
        height: 0px;
        margin: 1.4rem 0 2.6rem;
    }

    .funko3 a {
        font-size: 1.2rem;
        line-height: 1.5rem;
        border-radius: 50px;
        padding: 0.9rem 2.4rem;
    }



    /*Estilos carrousel*/

    .section-sec {
        margin: 0 3.1rem;
        margin-bottom: 3.4rem;
    }

    .producto {
        margin: 1rem;
    }


    figure {
        position: relative;
    }

    .new-text {
        margin: 0;
        font-size: 1.4rem;
        line-height: 0.8rem;
        padding: 7px 22.5px;
        display: block;
        align-items: center;
        position: absolute;
        right: 0;
    }

    .section-sec h2 {
        font-size: 3rem;
        line-height: 2.7rem;
        margin-bottom: 0.3rem;
        margin: 5rem 0rem 3rem;
    }

    .lista-carrusel {
        list-style: none;
        display: block;

    }

    .lista-carrusel li img {
        width: 100%;
    }

    .categoria {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }

    .nombre-funko {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .precio {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .cuotas {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .lista-carrusel li {
        margin-right: 0rem;
    }

    .info-producto p,
    h4 {
        margin: 1.1rem;
    }




    /*Estilos del footer*/

    #footer {
        padding: 3.1rem;
    }

    .footer ul {
        margin: 0;
    }

    .footer ul li {
        padding: 0.3rem;
    }

    .footer img {
        margin: 0;
        margin-right: 0;
        width: 10rem;
        height: 10rem;
    }

    .footer p {
        font-size: 1.5rem;
        line-height: 1.2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;

    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }


/*ESTILOS PAGINA SHOP*/

/*Estilos del Form, Aside*/
.aside-shop {
    display: flex;
    margin: 2.2rem;
    margin-right: 0;
    
    background-color: #FFFFFF;
    z-index: 2;
    position: absolute;
}


button#filtros {
    display: flex;
    background: white;
    border: none;
}

.form-shop {
    display: none;
    flex-direction: column;
    padding: 2rem;
    margin-left: 2rem;
    
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.input-buscar {
    margin: 1rem 0 2rem;
    padding: 1rem;
    width: 18rem;
    height: 3rem;
    border: 2px solid #30343F;
    border-radius: 6px;
}

.select-ordenar {
    margin: 1rem 0 2rem;
    padding-left: 0.7rem;
    width: 18rem;
    height: 3rem;
    border: 2px solid #30343F;
    border-radius: 6px;
}

.select-ordenar .options {
    color: gray
}

.form-shop label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-shop p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #111111;
}

.form-checkbox-shop {
    margin: 1.6rem 0 0 1rem;
}

.p-form-checkbox-shop {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
    margin-left: 0.5rem;
}

.label-precio {
    display: flex;
    margin: 1rem 0 2rem;
}

.label-precio p {
    margin: 0 0.5rem;
}

.label-precio input {
    width: 4rem;
    display: flex;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ul-list-form-checkbox-shop {
    /*ul*/
    list-style: none;
    display: flex;
    flex-direction: column;
    float: left;
}

.list-form-checkbox-shop {
    /*li*/
    display: flex;
}


/*Estilos del main de la página SHOP, Grid*/
#main-shop {
    display: flex;
}

.funkos-container {
    display: flex;
    margin: 6.2rem;
    margin-left: 3rem;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-item figure {
    width: 335px;
    height: 335px;
}

.grid-item img {
    width: 335px;
    height: 335px;
}

.grid-item a {
    text-decoration: none;
}

.categoria {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.nombre-funko {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}

.precio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.cuotas {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1D84B5;
}







}

@media only screen and (max-width: 376px){

    
    /*Header*/
    #header {
        height: 14.4rem;
    }

    .header-list {
        display: none;
    }

    .banner-nav {
        width: 16rem;
        height: 6rem;
        margin: 1rem;
        margin-left: 1.5rem;
    }

    nav {
        margin: 0 12vw 0 0;
    }

    button#menu-hamburguesa {
        display: block;
        background: transparent;
        border: none;
    }

    .mostrar-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }

    .cerrar-menu button{
        background: transparent;
        border: none;
    }


}